{% extends 'EventsEventsBundle::layout.html.twig' %}
{% form_theme form 'EventsEventsBundle:Form:fields.html.twig' %}
{% block stylesheets %}   
 {{parent()}}
 <link href="{{ asset('bundles/eventsevents/css/style.css') }}" type="text/css" rel="stylesheet"/>
 <link href="{{ asset('bundles/eventsevents/css/stylehome.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}Events for Thursday(12th April 2018) ONLY FOR Engineering 2 Students.{% endblock %}
        
  {% block content %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      <div class="container">
          <fieldset class="scheduler-border">                      
              <legend class="scheduler-border">  
                  <h3> <p>Logged in as <b>{{ app.user.username }}</b>({{app.user.email}})<a style="padding-left: 50px;" href="{{path('fos_user_security_logout')}}">Logout</a></p></h3>
              </legend>
              <div id="main">
                  <div class="row">
                      <div class="col-sm-12"> 
                          <p>Please register for the events to be held on <b>Thursday(12th April 2018)</b></p>
                          <ul>
                              <li>You must choose to attend the two events held during the day.</li>
                          </ul>
                      </div>
                  </div>
                  {% for flashMessage in app.session.flashbag.get('error') %}        
                      <div class="flash-error">
                          {{ flashMessage }}
                      </div>
                  {% endfor %}
                  <div class="candidatecontent">            
                      <div id="form">                         
                          <br>
                          <form action="{{ path('eventtwo') }}" method="post" {{ form_enctype(form) }} name="eventtwo">
                              
                              {# Event type 3 #}
                              <div class="row">
                                  <div class="col-sm-3 formlabelregister">{{ form_label(form.eventtype3) }}</div>
                                  <div class="col-sm-5">{{ form_widget(form.eventtype3) }}</div>
                                  <div class="col-sm-4 errors">{{ form_errors(form.eventtype3) }}</div>
                              </div>
                              <br>                
                              {# Event type 4 #}
                              <div class="row">
                                  <div class="col-sm-3 formlabelregister">{{ form_label(form.eventtype4) }}</div>
                                  <div class="col-sm-5">{{ form_widget(form.eventtype4) }}</div>
                                  <div class="col-sm-4 errors">{{ form_errors(form.eventtype4) }}</div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-offset-2 col-sm-2"><input type="submit" class="btn btn-success" value="Submit" id="submit"/></div>      
                              </div> 
                      </div>
                      {{ form_end(form) }}            
                  </div>         
              </div> 
          </fieldset>
      </div>     
        {% endblock %}
{% block javascripts %}
{% endblock %}