{% block body_html %}
{{ 'Hello '}}{{app.user.username}}{{','}}<br>
{{'Thank you for registering to the events of EPITA International Week. Your registered events for Friday, 13th April 2018 are listed below :'}}
<ul>
    <li>Friday, 13th April(09:30 am – 11:00 am): {% if row.eventtype5 is null %} None {% else %} {{ row.eventtype5.description }} {% endif %}</li>
    <li>Friday, 13th April(11:00 am – 12:30 am): {% if row.eventtype6 is null %} None {% else %} {{ row.eventtype6.description }} {% endif %}</li>
</ul>
{{ 'Thank You' }},<br>
{{' Epita International Team' }}
{% endblock %}