{% extends 'EventsEventsBundle::layout.html.twig' %}
{% form_theme form 'EventsEventsBundle:Form:form_detail_div_layout.html.twig' %}

{% block stylesheets %}   
 {{parent()}}
 <link href="{{ asset('bundles/eventsevents/css/stylehome.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
  
{% block title %}EPITA International Week 2018 Registration Form  for Engineering 4th Year Students!!!{% endblock %}

{% block body %}
    <div id="main">
{% block content %}
    <div class="candidatecontent">            
    <div id="form">                         
     <br>
     <div class="container">
         <style>
             .errors{
                 color:red;
             }   
         </style>    
    <form action="{{ path('register') }}" method="post" {{ form_enctype(form) }} name="user">       
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">  <h3> Registration&nbsp;Form</h3></legend>       
                <br>       
                    {# Name #}
                    <div class="row">
                        <div class="col-sm-2 formlabelregister">{{ form_label(form.firstname) }}</div>
                        <div class="col-sm-3">{{ form_widget(form.firstname) }}</div>
                        <div class="col-sm-4 errors">{{ form_errors(form.firstname) }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2 formlabelregister">{{ form_label(form.lastname) }}</div>
                        <div class="col-sm-3">{{ form_widget(form.lastname) }}</div>
                        <div class="col-sm-4 errors">{{ form_errors(form.lastname) }}</div>
                    </div>                    
                    <br>
                    {# Username #}
                    <div class="row">
                        <div class="col-sm-2 formlabelregister">{{ form_label(form.username) }}</div>
                        <div class="col-sm-3">{{ form_widget(form.username,{'help': 'Should not contain special characters'}) }}</div>  
                        <div class="col-sm-4 errors">{{ form_errors(form.username) }}</div>
                    </div> 
                    <br>
                    
                    {# Email #}
                    <div class="row">     
                        <div class="col-sm-2 formlabelregister">{{ form_label(form.email) }}</div>
                        <div class="col-sm-3">{{ form_widget(form.email,{'help' : 'In case we need to communicate'}) }}</div>
                        <div class="col-sm-4 errors">{{ form_errors(form.email) }}</div>
                    </div>  
                    <br>
                    {# Password #}
                    <div class="row">
                        <div class="col-sm-2 formlabelregister">{{ form_label(form.plainPassword.first) }}</div>
                        <div class="col-sm-3">{{ form_widget(form.plainPassword.first,{'help' : 'Atleast four characters long'}) }}</div>
                        <div class="col-sm-4 errors">{{ form_errors(form.plainPassword.first) }}</div>
                    </div>  
                    <br>
                    {# Confirm Password #}
                    <div class="row">
                        <div class="col-sm-2 formlabelregister">{{ form_label(form.plainPassword.second) }}</div>
                        <div class="col-sm-3">{{ form_widget(form.plainPassword.second) }}</div>
                        <div class="col-sm-4 errors">{{ form_errors(form.plainPassword.second) }}</div>
                    </div> 
                    <br>                                      
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-2"><input type="submit" class="btn btn-success" value="Register Me" id="submit"/></div>      
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-offset-2">
                         &nbsp;&nbsp;&nbsp;&nbsp;Already registered ? <a href="{{path('events_security_login')}}">Login here</a>   
                        </div>      
                    </div>   
                     </fieldset>    
            </div>                                                    
{{ form_end(form) }}
            </div>         
            </div>
     </div>           
            {% endblock content %}   
           
{% endblock  body %}  
                   
{% block javascripts %}   
{% endblock %}