{% block body_html %}
{{ 'Hello '}}{{app.user.username}}{{','}}<br>
{{'Thank you for registering to the events of EPITA International Week. Your registered events for Thursday, 16th March 2017 are listed below :'}}
 <ul>
     <li>Thursday, 16th March : {% if row.eventtype5 is null %} None {% else %} {{ row.eventtype5.description }} {% endif %}</li>
     <li>Thursday, 16th March: {% if row.eventtype6 is null %} None {% else %} {{ row.eventtype6.description }} {% endif %}</li>
     <li>Thursday, 16th March: {% if row.eventtype7 is null %} None {% else %} {{ row.eventtype7.description }} {% endif %}</li>
 </ul>
{{ 'Thank You' }},<br>
{{' Epita International Team' }}
{% endblock %}