{% block body_html %}
{{ 'Hello '}}{{app.user.username}}{{','}}<br>
{{'Thank you for registering to the events of EPITA International Week. Your registered events for Tuesday, 14th March 2017 are listed below :'}}
<ul>
    <li>Tuesday, 14th March : {% if row.eventtype1 is null %} None {% else %} {{ row.eventtype1.description }} {% endif %}</li>
    <li>Tuesday, 14th March: {% if row.eventtype2 is null %} None {% else %} {{ row.eventtype2.description }} {% endif %}</li>
    <li>Tuesday, 14th March(2pm - 3pm) : {% if row.eventtype3 is null %} None {% else %} {{ row.eventtype3.description }} {% endif %}</li>
</ul>
{{ 'Thank You' }},<br>
{{' Epita International Team' }}
{% endblock %}