{% block body_html %}
{{ 'Hello '}}{{app.user.username}}{{','}}<br>
{{'Thank you for registering to the events of EPITA International Week. Your registered events for Wednesday, 13th April 2018 are listed below :'}}
<ul>
    <li>Wednesday, 11th April : {% if row.eventtype1 is null %} None {% else %} {{ row.eventtype1.description }} {% endif %}</li>
    <li>Wednesday, 11th April(02:00 pm - 04:30 pm): {% if row.eventtype2 is null %} None {% else %} {{ row.eventtype2.description }} {% endif %}</li>
</ul>
{{ 'Thank You' }},<br>
{{' Epita International Team' }}
{% endblock %}